%header
    
  %h2= link_to "点击初始化",widgets_path()
    
  %table.list
    %thead
      %tr
        %th 序号
        %th 组件名称
        %th 资源文件
    %tbody
      - index=0
      - @portlets.each do |list|
      - index=index+1
        %tr
          %td= index
          %td= list[1,list.length-6]
          %td= list



