%header
  %h2 管理

%section#admin_page
  %ul
    %li
      %a(href="/infodeploy/users") 用户角色管理
    %li
      %a(href="/infodeploy/roles") 角色权限
    %li
      %a(href="/infodeploy/search_histories") 关键字管理
    %li
      %a(href="/infodeploy/questions") 企业会诊管理
    %li
      %a(href="/infodeploy/comments") 评论管理
