%header
  %h2 编辑文稿信息
= flash[:error_info]
%section
  = form_for @article,:as => :article,:url => edit_channel_articles_path(:article_id => @article.id,:page => @page),:method => :post do |f| 
    %p.notice 操作说明：标注红色"*"号的内容为必填项。
    .portlet.box
      = render "channel",:f => f
      .clear
    .submit
      = f.submit "下一步",:name => "next",:disable_with => "提交中..."
