%header
  %nav
    %a{:href => "/infodeploy/articles/new"}新建文稿
  = render  'infodeploy/newslist/fram',:newses => @news,:title => "文稿",:center_fram => "infodeploy/newslist/center_fram",:table => "infodeploy/newslist/news_table_draft"