%header
  %h2
    编辑
    = @kind.name
    链接

%section
  = form_for @partner,:as => :partner,:url => kind_partner_path(:kind_id => @kind.id,:id => @partner.id),:method => :put do |f|
    %p.notice 操作说明：标注红色"*"号的内容为必填项。
    = render "form",:f => f

