%header
  %h2 编辑链接
%section
  = form_for @friendship,:as => :friendship,:url => friendship_path(:id => @friendship.id),:method => :put,:html => {:multipart => true} do |f|
    %p.notice 操作说明：标注红色"*"号的内容为必填项。
    = render "form", f: f, friendship: @friendship

            
