%header
  %h2 添加导航

%section
  = form_for @navigation,:as => :navigation,:url => navigation_index_path,:method => :post do |f|
    %p.notice 操作说明：标注红色"*"号的内容为必填项。
    .portlet.box
      = render "form",:f => f
   
