%header
  %h2 编辑文章属性

%section
  = form_for @property,:as => :property,:url => property_path(:id => @property.id),:method => :put do |f|
    %p.notice 操作说明：标注红色"*"号的内容为必填项。
    = render "form",:f => f
