%header
  %h2 编辑栏目

%section
  = form_for @programa,:as => :programa,:url => channel_programa_path(:id => @programa.id,:channel_id => @channel.id),:method => :put do |f|
    = render :partial => 'form',:locals => {:f => f,:channel => @channel,:programa => @programa}

